{% extends 'grade/base.html' %}

{% block content %}
<h1>Ensalamento</h1>
<hr>
<div class="col-md-4">
    <h2>Manhã</h2>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Sala</th>
            <th>Período</th>
            <th>Curso</th>
        </tr>
        <tr>
            <td>101</td>
            <td>1º</td>
            <td>Bacharel Ciencias Contabeis</td>
        </tr>
    </table>
</div>
<div class="col-md-4">
    <h2>Tarde</h2>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Sala</th>
            <th>Período</th>
            <th>Curso</th>
        </tr>
        <tr>
            <td>101</td>
            <td>1º</td>
            <td>Bacharel Ciencias Contabeis</td>
        </tr>
    </table>
</div>
<div class="col-md-4">
    <h2>Noite</h2>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Sala</th>
            <th>Período</th>
            <th>Curso</th>
        </tr>
        <tr>
            <td>101</td>
            <td>1º</td>
            <td>Bacharel Ciencias Contabeis</td>
        </tr>
    </table>
</div>
{% endblock %}