{% extends 'grade/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="{% url 'grade:grade' %}">Pesquisar Grade</a></li>
        <li><a href="{% url 'grade:curso' %}">Cursos</a></li>
        <li class="active"><a href="">Matérias</a></li>
        <li><a href="#">Professores</a></li>
    </ul>
</div>

<h1>Cursos</h1>

<div class="col-sm-9 col-md-10">
    <div class="panel-group" id="accordion">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <span class="glyphicon glyphicon-plus"></span>Cadastrar Matéria</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row curso">
                        <form method="POST">{% csrf_token %}
                            <div class="form-group">
                                {{ formulario.nome_materia|add_class:'form-control'|attr:'placeholder:Nome da Matéria' }}
                            </div>
                            <button type="submit" class="save btn btn-default">Salvar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <span class="glyphicon glyphicon-list"></span>Matérias</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row curso">
                        {% for materia in materia %}
                            <div class="col-md-3">
                                <p class="bg-success listamateria"><a>{{ materia.nome_materia|title }}</a></p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}